<div class="row">
    <div class="text-center">
        <h1>Valūtas uzskaites sistēma</h1>
        <h4>Administratora autorizācija</h4>
    </div>
</div>
<div class="row padtop">
    <div class="text-center">
        <form method="POST">
            <% if iserror %><div class="row">
                <div class="medium-4 columns"></div>
                <div class="small-4 columns small-centered">
                    <small class="error bold">Nepareiza parole!</small>
                </div>
                <div class="medium-4 columns"></div>
            </div><% end %>
            <div class="row">
                <div class="small-5 columns">
                    <label for="password" class="right inline">Parole</label>
                </div>
                <div class="small-3 columns">
                    <input type="password" id="password" name="password" placeholder="Parole" required="required" />
                </div>
                <div class="medium-4 columns"></div>
            </div>
            <input type="submit" value="Autorizēties" class="button" />
        </form>
    </div>
</div>
